/* CSS Variables */
:root {
  --primary-color: #e02c6d;
  --primary-text: #3a3a3a;
  --secondary-text: #787885;
  --h1-font: 3rem; /* 48px */
  --h2-font: 2.5rem; /* 40px */
  --h3-font: 1.75rem; /* 28px */
  --h4-font: 1.5rem; /* 24px */
}

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  border-radius: 41px;
  padding: 14px 28px;
  border: none;
  font-weight: 700;
  margin-top: 1rem;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.section-title {
  font-size: var(--h2-font);
}

/* Header Styles */
header {
  width: 85%;
  margin: 5rem auto;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
}

.nav-link ul {
  display: flex;
  align-items: center;
}

.nav-link li > * {
  margin-left: 10px;
  padding: 10px 12px;
  font-weight: 600;
  color: var(--primary-text);
}
.brand {
  font-size: var(--h4-font);
}

/* Banner Styles */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 8vw;
  margin-top: 8vh;
}

.banner-content,
.banner-img {
  width: 50%;
}

.banner-title {
  font-size: var(--h1-font);
  background-image: linear-gradient(to left, red, blue);
  -webkit-background-clip: text;
  color: transparent;
}

.banner-description {
  color: var(--secondary-text);
  font-weight: 600;
  margin-top: 1rem;
}

.banner-img {
  background-image: url(images/circle-design.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Where To Buy */
.where-to-buy {
  display: grid;
  grid-template-columns: 4fr 3fr;
  width: 80%;
  margin: 0 auto;
  gap: 5%;
  padding: 2.5rem;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.where-to-buy > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 80px;
}

/* Popular Collection */
.popular-collection {
  width: 75%;
  margin: 6rem auto;
  text-align: center;
}
.popular-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 2rem;
  text-align: left;
}
.item {
  padding: 1.4rem 1rem;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.item h3 {
  font-size: var(--h3-font);
  color: #18191f;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 40px;
}
.item h4 {
  font-size: var(--h4-font);
  color: rgba(0, 0, 0, 0.87);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0.4rem;
}
.item p {
  font-size: 0.9rem;
  width: 70%;
  color: var(--secondary-text);
  font-family: "Inter", sans-serif;
  margin-top: 0.5rem;
  font-weight: 700;
  line-height: 143%;
}
